#!/bin/bash

echo "Sleeping to allow postgres time to get ready."
sleep 10

psql -U {{ postgres_user }} -h {{ postgres_server }} {{ database_name }} < /root/backsql_create.sql
slapd -d 1 -f /etc/openldap/slapd.conf
