;
;  odbc.ini
;
[ODBC Data Sources]
PgSQL=PostgreSQL

[PgSQL]
; WARNING: The old psql odbc driver psqlodbc.so is now renamed psqlodbcw.so
; in version 08.x. Note that the library can also be installed under an other
; path than /usr/local/lib/ following your installation.
Driver=/usr/lib64/psqlodbcw.so
Description=Connection to LDAP/POSTGRESQL
Servername={{ postgres_server }}
Username={{ postgres_user }}
Password={{ postgres_password }}
Database={{ database_name }}
Port=5432
Protocol=6.4
FetchBufferSize=99
ReadOnly=no
Debug=1
CommLog=1

[ODBC]
InstallDir=/usr/local/lib
